parameters:
  level: max
  paths:
    - src
    - tests
  excludePaths:
    - vendor
    - .lint
  tmpDir: ./.lint/.stan
  ignoreErrors:
     - identifier: varTag.nativeType
     - identifier: method.protected
