parameters:
  level: max
  paths:
    - src
    - tests
  excludePaths:
    - vendor
    - .lint
  tmpDir: ./.lint/.stan
  ignoreErrors:
     - identifier: function.impossibleType
     - identifier: instanceof.alwaysFalse
